body{
    color: paleturquoise;
}


#Nombre{
    color: midnightblue;
    font-size: large;
    text-align: center;
  
    padding: 15px;
    margin: 10px;
    display: flex;
    justify-content:flex-start
}

#foto{
    width: 500px;
}



.titulos{
    font-size: 30px;
    color: rgb(38, 38, 168);
}

.listas{
    font-size: small; 
    color: navy;  

}

.textos{
    font-size: smaller;
    font-weight: 100;
    color: grey;
    text-align: left;
    width: 50%;
}

.centrarimagen{
    display: flex;
    justify-content:flex-start
}

img{
    border: 10px black solid; /* se tiene que utilizar un color semncillo para que el codigo no falle*/
    padding: 15px;
    margin: 10px;
    
}